<%- include('layout/header.ejs') %>
    <!-- Custom script tags here... -->
    </head>

    <body>
        <%- include('layout/nav.ejs') %>
            <!-- Page goes here -->
            <div class="container d-flex justify-content-center" style="color: black;">
                <div class="row">

                    <div class="col-md-5 align-self-center">
                        <img src="img/shutterstock_627370652.jpg" alt="shutterstock_627370652.jpg" style="max-width: 100%;">
                    </div>
                    <div class="col-md-7">

                    <article class="container d-flex flex-column align-items-start justify-content-md-start"
                        style="margin-bottom: 5%; margin-top: 5%;">
                        <h1 style="text-align: center; text-decoration: underline;">Goals and Objectives</h1>
                        <!-- <article class="text-white mb-0"> -->
                            <!-- <article class="text-white mb-0" style="background-color: rgba(51, 46, 112, 0.02);"> -->
                                <h4>Overview</h4>
                                <p> MySmartSA utilizes a multipronged approach to conduct quantitative and qualitative research
                                    using secure intelligent technology, build intra- and inter-disciplinary research capacity
                                    at
                                    A&M-SA, build research partnerships between A&M-SA and SA VIA Metropolitan Transit (VIA
                                    Transit)
                            to facilitate data driven transit planning decisions, and increase the competitiveness of
                            A&M-SA
                            faculty-student research for future CISE grants. The MySmartSA app will be customizable and
                            will
                            include real-time bus arrival information, notices when seating is limited, instant alert
                            messages for schedule changes and other important information, and interactive features to
                            directly collect data from riders about their commute experience. </p>
                            <h4>Objectives</h4>
                        <p>The objectives of the MySmartSA are to:</p>
                        <p>
                            (1) improve the accuracy of bus arrival time reporting
                        </p>
                        <p>
                            (2) provide up-to-date information about seating availability and important transit
                            alerts
                        </p>
                        <p>
                            (3) collect data that will be used to improve rider satisfaction and inclusivity of VIA
                            transit
                        </p>
                        <h4>Miscellaneous</h4>
                        <p>All services will be available in both English and Spanish. Researchers and students from
                            diverse disciplines (sociology, computer science, cyber security, & information science)
                            will work collaboratively to achieve project success.</p>

                    </article>
                </div>

            </div>
            </div>
            <div class="row" style="height: 100px;">
                <!-- This row is just meant to ensure the the footer does not float up the page
                        a better solution is pending -->
            </div>
            <%- include('layout/footer.ejs') %>