<%- include('layout/header.ejs') %>
    <!-- Custom script tags here... -->
    </head>

    <body>
        <%- include('layout/nav.ejs') %>
            <!-- Page goes here -->
            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-7">
                        <article class="container d-flex flex-column align-items-start justify-content-md-start"
                            style="margin-bottom: 5%; margin-top: 5%; color: #000;">
                            <h1 style="text-align: center; text-decoration: underline;">
                                Mobile App Architecture</h1>
                            <!-- <article class="text-white mb-0"> -->
                            <!-- <article class="text-white mb-0" style="background-color: rgba(51, 46, 112, 0.02);"> -->
                            <h4>Summary</h4>
                            <p> The backbone of the MySmartSA application is Web Architecture. All designed interfaces
                                will
                                respond to
                                different screen sizes of devices and different browsers and will run well on any mobile
                                phone,
                                tablet,
                                laptop, and desktop.
                            </p>
                            <h4>Development Methodology</h4>
                            <p>Companies in the tech industry generally choose agile methodology in
                                software development. Additionally, security expectations in software development
                                process
                                are
                                growing. Therefore, the tech industry trend is to integrate security into agile software
                                development.
                                Some practical solutions are suggested, like integrating a static analysis tool into an
                                IDE,
                                performing dependency/open-source security checks whenever possible, and configuring
                                dynamic
                                test
                                tools into CI/CD (Continuous Integration and Continuous Delivery) pipelines during
                                development
                                and
                                testing. While the automation of security checks at each stage of the agile process is
                                desired,
                                rolling
                                out security practices at some levels is also recommended. To dynamically respond to
                                changing
                                demands and to ensure the protection of web app development for this project
                                practices agile development with the integration of security. The security testing
                                adapts
                                the
                                recommended security roadmap without a SAST (Static Application Security Testing) vendor
                                for
                                CD/CI, and details are discussed in the following section E.2 Security Testing on
                                Development
                                and Rider Privacy.
                            </p>


                        </article>
                    </div>
                    <div class="col-md-5 align-self-center">

                        <img src="img/MobileArch.jpg" alt="Mobile Architecture"
                            style="max-width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row" style="height: 150px;">
                <!-- This row is just meant to ensure the the footer does not float up the page
                        a better solution is pending -->
            </div>
            <!-- Page goes here -->
            <!-- <section style="background-color: #702e3d;">
                
                <div class="container d-flex flex-column justify-content-center text-center">
                    <div>
                        <h1
                            style="text-align: center; text-decoration: underline; color: #000;background-color: #702e3d;">
                            Mobile App Architecture</h1>
                        <br>
                    </div>
                    <div>
                        <article style="color: white; background-color: #332e70;">
                            <h4>Summary</h4>
                            <p> The backbone of the MySmartSA application is Web Architecture. All designed interfaces
                                will
                                respond to
                                different screen sizes of devices and different browsers and will run well on any mobile
                                phone,
                                tablet,
                                laptop, and desktop.
                            </p>
                            <h4>Development Methodology</h4>
                            <p>Companies in the tech industry generally choose agile methodology in
                                software development. Additionally, security expectations in software development
                                process
                                are
                                growing. Therefore, the tech industry trend is to integrate security into agile software
                                development.
                                Some practical solutions are suggested, like integrating a static analysis tool into an
                                IDE,
                                performing dependency/open-source security checks whenever possible, and configuring
                                dynamic
                                test
                                tools into CI/CD (Continuous Integration and Continuous Delivery) pipelines during
                                development
                                and
                                testing. While the automation of security checks at each stage of the agile process is
                                desired,
                                rolling
                                out security practices at some levels is also recommended. To dynamically respond to
                                changing
                                demands and to ensure the protection of web app development for this project
                                practices agile development with the integration of security. The security testing
                                adapts
                                the
                                recommended security roadmap without a SAST (Static Application Security Testing) vendor
                                for
                                CD/CI, and details are discussed in the following section E.2 Security Testing on
                                Development
                                and Rider Privacy.
                            </p>

                        </article>

                    </div>
                    <div>

                        <img src="img/MobileArch.jpg" alt="Mobile Architecture">
                    </div>
                    <div class="container d-flex justify-content-center text-center">
                    </div>
                    <div>

                        <br><br><br><br>
                    </div>
                </div>
            </section> -->

            <%- include('layout/footer.ejs') %>