<%- include('layout/header.ejs') %>
    </head>

    <body>
        <%- include('layout/nav.ejs') %>
            <div class="container-fluid" style="padding: 5px;">
                <!-- Start Management Team -->
                <div class="d-flex justify-content-center">
                    <h1>Leading Faculty</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Dr. Jeong Yang
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Dr. Young Lee
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Dr. Izzat Alsmadi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Dr. Mohammed Abdel-Rahman
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Dr. Daniel Delgado
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Dr. Lo'ai Tawalbeh
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Management Team -->

                <!-- Start Dev Team -->
                <div class="d-flex justify-content-center">
                    <h1>Student Assistants</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Mohammed Ali Kunda
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Emmer Palaming
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; padding: 5px;">
                        <img src="img/user.png" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <p class="card-text">
                                Anthony Hanson
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Dev Team -->
            </div>
            <%- include('layout/footer.ejs') %>