<!-- /.Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 2000;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MySmartSA</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/map">MyMap</a>
        </li>
        <li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            Project
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/goals">Goals & Objectives</a>
            </li>
            <li>
              <a class="dropdown-item" href="/mobile_architecture">Mobile Web App Architecture</a>
            </li>
            <li>
              <a class="dropdown-item" href="/sec_priv">Security & Rider Privacy</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ETA_research">Arrival Time Accuracy Research</a>
            </li>
            <li>
              <a class="dropdown-item" href="/social">Social Impact Research</a>
            </li>
            <li>
              <a class="dropdown-item" href="/team">Management & Development Teams</a>
            </li>
          </ul>
        </li>
        </li>
      </ul>

      <ul class="navbar-nav d-flex flex-row">
        <!-- Icons -->
        <li class="nav-item me-3 me-lg-0" data-mdb-toggle="tooltip"
        data-mdb-placement="bottom"
        title="Send us your Feedback">
          <a class="nav-link" href="/contact"> 
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.facebook.com" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.linkedin.com" rel="nofollow" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://github.com/" rel="nofollow" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>

      </ul>
      
    </div>
  </div>
</nav>
<!-- /.Navbar -->